{% if address %}
  <div class="vcard text spacing--quarter">
    {% if hcard_img %}
      <img src="{{ hcard_img }}" alt="{{ first_name }} {{ last_name }}" class="photo">
    {% endif %}
    <p>
      {% if first_name %}
        <strong class="fn n">
          {% if first_name %}<span class="given-name">{{ first_name }}</span>{% endif %}
          {% if additional_name %}<span class="additional-name">{{ additional_name }}</span>{% endif %}
          {% if last_name %}<span class="family-name">{{ last_name }}</span>{% endif %}
        </strong><br>
      {% endif %}
      {% if org %}<strong class="org">{{ org }}</strong><br>{% endif %}
      {% if tel %}<span class="tel">{{ tel }}</span><br>{% endif %}
      {% if url %}<span class="url">{{ url }}</span><br>{% endif %}
      {% if email %}<a class="email" href="mailto:{{ email }}">{{ email }}</a><br>{% endif %}
      {% if street_address %}
        <span class="adr">
          {% if street_address %}<span class="street-address">{{ street_address }}</span><br>{% endif %}
          {% if locality %}<span class="locality">{{ locality }}</span>,{% endif %}
          {% if region %}<span class="region">{{ region }}</span>,{% endif %}
          {% if postal_code %}<span class="postal-code">{{ postal_code }}</span>{% endif %}
          {% if country_name %}<br><span class="country-name">{{ country_name }}</span>{% endif %}
        </span><br>
      {% endif %}
    </p>
  </div>
{% endif %}
