{% if address %}
  <div class="vcard text spacing--quarter">
    {% if address.hcard_img %}
      <img src="{{ address.hcard_img }}" alt="{{ address.first_name }} {{ address.last_name }}" class="photo">
    {% endif %}
    <p>
      {% if address.first_name %}
        <strong class="fn n">
          {% if address.first_name %}<span class="given-name">{{ address.first_name }}</span>{% endif %}
          {% if address.additional_name %}<span class="additional-name">{{ address.additional_name }}</span>{% endif %}
          {% if address.last_name %}<span class="family-name">{{ address.last_name }}</span>{% endif %}
        </strong><br>
      {% endif %}
      {% if address.org %}<strong class="org">{{ address.org }}</strong><br>{% endif %}
      {% if address.tel %}<span class="tel">{{ address.tel }}</span><br>{% endif %}
      {% if address.url %}<span class="url">{{ address.url }}</span><br>{% endif %}
      {% if address.email %}<a class="email" href="mailto:{{ address.email }}">{{ address.email }}</a><br>{% endif %}
      {% if address.street_address %}
        <span class="adr">
          {% if address.street_address %}<span class="street-address">{{ address.street_address }}</span><br>{% endif %}
          {% if address.locality %}<span class="locality">{{ address.locality }}</span>,{% endif %}
          {% if address.region %}<span class="region">{{ address.region }}</span>,{% endif %}
          {% if address.postal_code %}<span class="postal-code">{{ address.postal_code }}</span>{% endif %}
          {% if address.country_name %}<br><span class="country-name">{{ address.country_name }}</span>{% endif %}
        </span><br>
      {% endif %}
    </p>
  </div>
{% endif %}
