{% if content_filter %}
<div class="filter u-spacing">
  <div class="filter-search">
    <h3 class="u-font--secondary--m u-text-transform--upper u-theme--primary-text-color u-space--half--bottom"><strong>Search</strong></h3>
    <form action="" role="search" method="get" class="filter-search">
      <fieldset>
        <div class="field-container u-spacing--half">
          <input type="search" name="s" class="search__results__input u-font--secondary--s" value="" />
          <button class="search__submit u-font--secondary--s u-text-transform--upper u-theme--secondary-background-color">Search</button> <!-- /.search-form__submit -->
        </div> <!-- /.field-container -->
      </fieldset>
    </form> <!-- /.search-form -->
  </div>
  <form class="content-filter-form filter-form u-spacing--double">
    <div class="filter-items filter-items__checkbox u-spacing--quarter">
      <h3 class="u-font--secondary--m u-text-transform--upper u-theme--primary-text-color u-space--half--bottom"><strong>Filter</strong></h3>
      {% if content_filter.checkbox %}
        {% for item in content_filter.checkbox %}
          <div class="filter-item__checkbox form-group">
            <input id="checkbox-{{ item.id }}}" type="checkbox" name="checkbox" value="{{ item.label }}" />
            <label for="checkbox-{{ item.id }}}" class="u-theme--primary-text-color">{{ item.label }}</label>
          </div>
        {% endfor %}
      {% endif %}
    </div>
    <div class="filter-items filter-items__radio u-spacing--quarter">
      <h3 class="u-font--secondary--m u-text-transform--upper u-theme--primary-text-color u-space--half--bottom"><strong>Sort By</strong></h3>
      {% if content_filter.radio %}
        {% for item in content_filter.radio %}
          <div class="filter-item__radio form-group">
            <input id="radio-{{ item.id }}" type="radio" name="radio" value="{{ item.label }}" />
            <label for="radio-{{ item.id }}" class="u-theme--primary-text-color">{{ item.label }}</label>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </form>
</div>
{% endif %}
