{% if content_filter %}
<div class="filter filter-expand u-spacing--half">
  <div class="filter-options">
    <h3 class="u-font--secondary--m u-theme--color--darker">Search</h3>
    <div class="filter-toggle js-toggle u-font--secondary--s u-text-transform--upper u-theme--color--base" data-toggled="filter" data-prefix="filter">Options</div>
  </div>
  <form class="content-filter-form filter-form">
    <div class="filter-items filter-items__checkbox u-spacing--quarter">
        <h3 class="u-font--secondary--s u-font-weight--bold u-text-transform--upper u-theme--color--base u-space--half--bottom">Filter</h3>
      {% if content_filter.checkbox %}
        {% for item in content_filter.checkbox %}
          <div class="filter-item__checkbox form-group">
            <input id="checkbox-{{ item.id }}" type="checkbox" name="checkbox" value="{{ item.label }}" />
            <label for="checkbox-{{ item.id }}">{{ item.label }}</label>
          </div>
        {% endfor %}
      {% endif %}
    </div>
    <div class="filter-items filter-items__radio u-spacing--quarter">
      <h3 class="u-font--secondary--s u-font-weight--bold u-text-transform--upper u-theme--color--base u-space--half--bottom">Sort By</h3>
      {% if content_filter.radio %}
        {% for item in content_filter.radio %}
          <div class="filter-item__radio form-group">
            <input id="radio-{{ item.id }}" type="radio" name="radio" value="{{ item.label }}" />
            <label for="radio-{{ item.id }}">{{ item.label }}</label>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </form>
  <form action="" role="search" method="get" class="filter-search">
    <fieldset>
      <div class="field-container u-spacing--half">
        <input type="search" name="s" class="search__results__input u-font--secondary--s" value="Keyword" />
        <button class="search__submit o-button">Search</button> <!-- /.search-form__submit -->
      </div> <!-- /.field-container -->
    </fieldset>
  </form> <!-- /.search-form -->
</div>
{% endif %}
