{% if search.matches %}
  {% if search_filter %}
    <p class="c-search-filter js-toggle u-font--secondary--s u-text-transform--upper" data-toggled="c-search-filter__form" data-prefix="c-filter">
      {% include '@atoms/icons/icon-settings.twig' %} <span class="c-search-filter__label">Filter <span>Results</span></span>
    </p>
    <form class="c-search-filter__form js-toggle-this toggled-element">
      <div class="c-search-filter__form-item u-spacing--half">
        <h3 class="u-font--secondary--s u-font-weight--bold u-text-transform--upper u-theme--color--base">Filter</h3>
        {% if search_filter.checkbox %}
          {% for item in search_filter.checkbox %}
            <div class="c-filter__form-group">
              <input id="checkbox-{{ item.id }}" type="checkbox" name="checkbox" value="{{ item.label }}"/>
              <label for="checkbox-{{ item.id }}">{{ item.label }}</label>
            </div>
          {% endfor %}
        {% endif %}
      </div>
      <div class="c-search-filter__form-item u-spacing--half">
        <h3 class="u-font--secondary--s u-font-weight--bold u-text-transform--upper u-theme--color--base">Sort By</h3>
        {% if search_filter.radio %}
          {% for item in search_filter.radio %}
            <div class="c-filter__form-group">
              <input id="radio-{{ item.id }}" type="radio" name="radio" value="{{ item.label }}"/>
              <label for="radio-{{ item.id }}">{{ item.label }}</label>
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </form>
  {% endif %}
  <ul class="c-search-filter__matches o-suggestions">
    {% if matchlist %}
      {% for match in matchlist %}
        <li><a href="{{ match.url }}">{{ match.text | raw }}</a></li>
      {% endfor %}
    {% endif %}
  </ul>
{% endif %}

