{% if search_header %}
  <div class="c-search-header u-background-color--gray--light can-be--dark-dark u-padding--double--top u-padding--double--bottom">
    <div class="c-search-header__filter c-filter">
      <form action="{{ search_header.url }}" role="search" method="{{ search_header.method }}" class="c-filter__search l-grid l-grid--7-col u-shift--left--1-col--at-large">
        <div class="l-grid-item--7-col l-grid-item--m--3-col l-grid-item--l--3-col">
          <input id="search-input" type="search" name="{{ search_header.name }}" placeholder="{{ search_header.placeholder }}" class="u-font--secondary--s u-theme--color--darker can-be--white" />
        </div>
        <div class="l-grid-item--7-col l-grid-item--m--3-col l-grid-item--l--2-col">
          <button class="c-filter__button o-button u-space--right">
            <span class="u-icon u-icon--xs u-path-fill--base">{% include '@atoms/icons/icon-search.twig' %}</span>Search
          </button>
          {% if search_header.filter_form %}
            <button class="c-filter__toggle js-toggle o-button o-button--simple--gray" data-toggled="c-filter" data-prefix="c-filter">
              <span class="u-icon u-icon--xs u-theme--path-fill--base">{% include '@atoms/icons/icon-settings.twig' %}</span>
              <font>{{ search_header.filter_form.toggle_text }}</font>
            </button>
          {% endif %}
        </div>
      </form>
      {% if search_header.filter_form %}
        <div class="c-search-header__filter-form l-grid l-grid--7-col u-shift--left--1-col--at-large">
          <div class="l-grid-item--7-col l-grid-item--m--4-col l-grid-item--l--3-col">
            {% include '@molecules/forms/filter-form.twig' with search_header %}
          </div>
        </div>
      {% endif %}
    </div>
    {% if search_header.suggestions %}
      <div class="c-search-header__suggestions l-grid l-grid--7-col u-shift--left--1-col--at-large">
        <div class="l-grid-item--7-col l-grid-item--m--4-col l-grid-item--l--3-col">
          {% include '@molecules/components/suggestions.twig' with search_header %}
        </div>
      </div>
    {% endif %}
  </div>
{% endif %}
