{% if heading_block_default %}
<div class="heading-block block {{ heading_block_default.block_class }}">
  <div class="pad">
    <h2 class="pad no-pad--btm heading-block__heading font--secondary--l theme--secondary-text-color">{{ heading_block_default.block_heading }}</h2>
    <div class="pad heading-block__content block__content {{ heading_block_default.block_content_class }}">
      <div class="spacing">
        <div class="text">
          <p class="heading-block__description block__description">{{ heading_block_default.description }}</p>
        </div>
        {% if heading_block_default.cta %}
          <p><a class="heading-block__cta block__cta btn theme--secondary-background-color" href="{{ heading_block_default.url }}">{{ heading_block_default.cta }}</a></p>
        {% endif %}
      </div> <!-- /.spacing -->
    </div> <!-- heading-block__content -->
  </div> <!-- /.pad -->
</div> <!-- /.heading-block -->
{% endif %}
