<div class="carousel__item carousel__item--stacked rel {{ carousel_item_class }}">
  {% if is_lazy %}
    {% include '@atoms/images/picture.twig' with {'is_lazy_slide': 'true', 'picture': picture} %}
  {% else %}
    {% include '@atoms/images/picture.twig' with picture %}
  {% endif %}

  {% if has_slide_text %}
    <div class="carousel__item-text__wrap {{ has_slide_text.carousel_text_class }} spacing--half">
      <h2 class="carousel__slide-heading font--tertiary--l theme--primary-text-color">{{ has_slide_text.slide_heading }}</h2>
      {% if has_slide_text.slide_subtitle %}
        <h3 class="carousel__slide-subtitle font--secondary--m">{{ has_slide_text.slide_subtitle }}</h3>
      {% endif %}
      <div class="carousel__slide-dek pad-half--btm">
        <p>{{ has_slide_text.slide_dek }}</p>
      </div> <!-- /.carousel__slide-dek -->
      <a href="{{ url }}" class="carousel__slide-cta btn theme--secondary-background-color">{{ has_slide_text.slide_cta }}</a>
    </div>
  {% endif %}
</div> <!-- /.carousel__slide -->
