<div class="carousel__item carousel__slide cf spacing rel {{ carousel_item_class }}">
  <div class="flex-container">
    <div class="shift-left--fluid">
      {% include atoms-picture %}
    </div> <!-- /.shift-left--fluid -->

    {% if has_slide_text %}
      <div class="shift-right--fluid">
        <div class="{{ has_slide_text.carousel_text_class }} spacing--half pad--top">
          <h2 class="carousel__slide-heading font--tertiary--l theme--primary-text-color">{{ has_slide_text.slide_heading }}</h2>
          {% if slide_subtitle %}
            <h3 class="carousel__slide-subtitle font--secondary--m">{{ has_slide_text.slide_subtitle }}</h3>
          {% endif %}
          <div class="carousel__slide-dek pad-half--btm">
            <p>{{ has_slide_text.slide_dek }}</p>
          </div> <!-- /.carousel__slide-dek -->
          <a href="{{ url }}" class="carousel__slide-cta btn theme--secondary-background-color">{{ has_slide_text.slide_cta }}</a>
        </div> <!-- /.carousel__slide-text -->
      </div>
    {% endif %}
  </div>

</div> <!-- /.carousel__slide -->
