<div class="c-carousel__item u-position--relative {{ carousel_item_class }}">
  {% if is_lazy %}
    {% include '@atoms/images/picture.twig' with {
      'is_lazy_slide' : 'true',
      'picture' : picture
    } %}
  {% else %}
    {% include '@atoms/images/picture.twig' with picture %}
  {% endif %}
  {% if has_slide_text %}
    <div class="c-carousel__item-text__wrap l-grid l-grid--7-col u-shift--left--1-col--at-large">
      <div class="l-grid-item l-grid-item--m--4-col l-grid-item--xxl--3-col">
        <div class="c-carousel__item-text {{ has_slide_text.carousel_text_class }} u-spacing u-padding--double--top u-padding--double--bottom">
          <div class="c-carousel__item-text--inner u-spacing--half">
            <h2 class="c-carousel__item-heading u-font--primary--xl">{{ has_slide_text.slide_heading }}</h2>
            {% if has_slide_text.slide_subtitle %}
              <h3 class="c-carousel__item-subtitle u-font--secondary--s u-text-transform--upper">
                <strong>{{ has_slide_text.slide_subtitle }}</strong>
              </h3>
            {% endif %}
            <div class="c-carousel__item-dek">
              <p>{{ has_slide_text.slide_dek }}</p>
            </div>
            <!-- /.c-carousel__item-dek -->
          </div>
          <a href="{{ url }}" class="c-carousel__item-cta o-button u-theme--secondary-background-color">{{ has_slide_text.slide_cta }}</a>
        </div>
        <!-- /.c-carousel__item-text -->
      </div>
    </div>
  {% endif %}
</div>
<!-- /.c-carousel__item -->
