<div class="carousel__item carousel__slide u-clear-fix u-spacing u-position--relative {{ carousel_item_class }}">
  <div class="l-flex-container">
    <div class="l-shift-left--fluid">
      {% include '@atoms/images/picture.twig' with picture %}
    </div> <!-- /.l-shift-left--fluid -->

    {% if has_slide_text %}
      <div class="l-shift-right--fluid">
        <div class="{{ has_slide_text.carousel_text_class }} u-spacing--half u-padding">
          <h2 class="carousel__slide-heading u-font--secondary--l u-theme--color--base">{{ has_slide_text.slide_heading }}</h2>
          {% if has_slide_text.slide_subtitle %}
            <h3 class="carousel__slide-subtitle u-font--secondary--m">{{ has_slide_text.slide_subtitle }}</h3>
          {% endif %}
          <div class="carousel__slide-dek u-padding--half--bottom">
            <p>{{ has_slide_text.slide_dek }}</p>
          </div> <!-- /.carousel__slide-dek -->
          <a href="{{ url }}" class="carousel__slide-cta o-button u-theme--secondary-background-color">{{ has_slide_text.slide_cta }}</a>
        </div> <!-- /.carousel__slide-text -->
      </div>
    {% endif %}
  </div>
</div> <!-- /.carousel__slide -->
