{% if media_block_default %}
<div class="media-block block spacing--quarter {{ media_block_default.block_class }}">

  {% if media_block_default.block_heading %}
    <h2 class="font--tertiary--m theme--primary-text-color pad--btm">{% if media_block_default.heading_icon %}<div class="icon icon--s">{{ media_block_default.heading_icon | raw }}</div>{% endif %} {{ media_block_default.block_heading }}</h2>
  {% endif %}

  {% if media_block_default.kicker %}
    <span class="kicker font--secondary--m upper theme--secondary-text-color db">{{ media_block_default.kicker }}</span>
  {% endif %}

  <div class="media-block__inner spacing--quarter {% if block_inner_class %} {{block_inner_class}} {% else %} {{ media_block_default.block_inner_class }} {% endif %}">
    {% if media_block_default.img %}
      <a class="media-block__image-wrap block__image-wrap db" href="{{ url }}">
        <div class="{{ media_block_default.block_img_class }} dib"><img class="media-block__image block__image" src="{{ media_block_default.img.src }}" alt="{{ media_block_default.img.alt }}" /></div>
      </a> <!-- /.media-block__image-wrap -->
    {% endif %}

    {% if media_block_default.video %}
      <div class="fitvid media-block__video">{% include 'atoms-video' %}</div>
    {% endif %}

    <div class="media-block__content block__content {{ media_block_default.block_content_class }}">

      {% if media_block_default.title %}
        <h3 class="media-block__title block__title {{ media_block_default.block_title_class }}"><a href="{{ media_block_default.url }}" class="block__title-link theme--primary-text-color">{{ media_block_default.title }}</a></h3>
      {% endif %}

      {% if media_block_default.date %}
        <time class="block__date font--secondary--xs brown space-half--btm" datetime="{{ media_block_default.datetime }}">{{ media_block_default.date }}</time>
      {% endif %}

      <div class="spacing--half">
        {% if media_block_default.description %}
          <div class="text text--s pad-half--btm"><p class="media-block__description block__description"><span class="font--primary--xs">{{ media_block_default.description }}</span></p></div>
        {% endif %}

        {% if media_block_default.cta %}
          <p><a class="media-block__cta block__cta btn theme--secondary-background-color" href="{{ url }}">{{ media_block_default.cta }}</a></p>
        {% endif %}
      </div> <!-- /.spacing -->

    </div> <!-- media-block__content -->
  </div> <!-- /.media-block__inner -->

</div> <!-- /.media-block -->
{% endif %}
