{% if page_header %}
  {% if page_header.has_image %}

  <style type="text/css">
    .header-swath--with-image {
      background-image: url({{ page_header.img_url_s | raw }});
    }
    @media (min-width: 900px) {
      .header-swath--with-image {
        background-image: url({{ page_header.img_url_m | raw }});
      }
    }
    @media (min-width: 1100px) {
      .header-swath--with-image {
        background-image: url({{ page_header.img_url_l | raw }});
      }
    }
  </style>
  {% endif %}
<header class="header__swath theme--primary-background-color {{ page_header.page_header_class }}">
  <div class="layout-container cf">
    {% if header_text %}
      <div class="header__text">
        <div class="unify show-at--small">
          <h2 class="font--secondary--l upper white">{{ header_text.heading }}</h2>
          <h3 class="font--secondary--m white--trans">{{ header_text.subhead }}</h3>
        </div>
        <div class="header__logo">{% include 'atoms-image' with header_text %}</div>
      </div> <!-- /.header__text -->
  {% endif %}
    <div class="flex-container cf">
      <div class="shift-left--fluid">
        {%  if page_header.kicker %}<span class="kicker white">{{ page_header.kicker | raw }}</span> {% endif %}
        <h1 class="font--tertiary--xl white"><a class="link--white link-hover--white" href="">{{ heading }}</a></h1>
      </div>
      <div class="shift-right--fluid"></div> <!-- /.shift-right--fluid -->
    </div>
  </div>
</header> <!-- /.header__swath -->
{% endif %}
