{% if page_header %}
  <header class="c-page-header c-page-header__simple u-theme--background-color--dark {{ page_header.page_header_class }}">
    {% if page_header.background_image %}
      <style type="text/css">
        .o-background-image {
          background-image: url({{ page_header.img_url_s|raw }});
        }
        @media(min-width: 900px) {
          .o-background-image {
            background-image: url({{ page_header.img_url_m|raw }});
          }
        }
        @media(min-width: 1100px) {
          .o-background-image {
            background-image: url({{ page_header.img_url_l|raw }});
          }
        }
      </style>
    {% endif %}
    <div class="c-page-header__simple--inner u-padding">
      {%  if page_header.kicker %}<span class="c-page-header__kicker o-kicker u-color--white">{{ page_header.kicker|raw }}</span> {% endif %}
      <h1 class="c-page-header__title u-font--primary--xxl u-color--white">
        {% if page_header.url %}
          <a href="{{ page_header.url }}" class="c-page-header__title-link {% if page_header.block_title_link_class %}{{ page_header.block_title_link_class }}{% else %}{{ 'u-theme--link-hover--lighter' }}{% endif %}">
        {% endif %}
          {{ page_header.title|raw }}
        {% if page_header.url %}
          </a>
        {% endif %}
      </h1>
    </div>
  </header> <!-- /.header__swath -->
{% endif %}
