{% if page_header %}
  {% if page_header.background_image %}
    {% set page_header_class = "o-background-image u-background--cover has-background"%}
    {% set page_header_inner_class = "u-gradient--bottom" %}
    {% set page_header_content_class = "u-border-left--white--at-medium" %}
    <style type="text/css">
      .o-background-image {
        background-image: url({{ page_header.img_url_s|raw }});
      }
      @media(min-width: 900px) {
        .o-background-image {
          background-image: url({{ page_header.img_url_m|raw }});
        }
      }
      @media(min-width: 1100px) {
        .o-background-image {
          background-image: url({{ page_header.img_url_l|raw }});
        }
      }
    </style>
  {% endif %}
  <header class="c-page-header c-page-header__long u-space--zero u-theme--background-color--dark{{ ' ' ~ page_header_class }}">
    <div class="c-page-header__long--inner l-grid l-grid--7-col{{ ' ' ~ page_header_inner_class }}">
      <div class="c-page-header__content c-page-header__long__content l-grid-wrap l-grid-wrap--5-of-7 u-shift--left--1-col--at-xxlarge{{ ' ' ~ page_header_content_class }}">
        {%  if page_header.kicker %}<span class="c-page-header__kicker o-kicker u-color--white">{{ page_header.kicker|raw }}</span>{% endif %}
        <h1 class="c-page-header__title u-font--primary--xl u-color--white">
          {% if page_header.url %}
            <a href="{{ page_header.url }}" class="c-page-header__title-link u-font-weight--bold {% if page_header.block_title_link_class %}{{ page_header.block_title_link_class }}{% else %}{{ 'u-theme--link-hover--lighter' }}{% endif %}">
          {% endif %}
            {{ page_header.title|raw }}
          {% if page_header.url %}
            </a>
          {% endif %}
        </h1>
      </div>
    </div>
  </header>
  {% if page_header.subtitle %}
    <div class="c-page-header__subtitle c-page-header__long__subtitle l-grid l-grid--7-col">
      <div class="l-grid-wrap l-grid-wrap--5-of-7 u-shift--left--1-col--at-xxlarge u-border--left u-font--secondary--m">
        {{ page_header.subtitle }}
      </div>
    </div>
  {% endif %}
{% endif %}
