<footer class="footer" role="contentinfo">
  <div class="footer__inner u-clear-fix u-background-color--brown-medium u-color--white can-be--dark-dark">
    <div class="l-container">
      <div class="footer__unify-nav-desc u-spacing--until-large">
        {% include '@molecules/navigation/footer-navigation.twig' %}
        <div class="footer__desc">
          <span class="u-icon footer__logo">{% include '@atoms/icons/icon-logo.twig' with {'fill_class': 'u-path-fill--light-brown'} %}</span>
          <p class="footer__desc-text u-color--brown-light u-font--secondary">
            {{ footer.text }}
            {% for item in footer.links %}
              &bull; <a href="{{ item.url }}" class="u-link--white">{{ item.label }}</a>
            {% endfor %}
          </p>
        </div> <!-- /.footer_desc -->
      </div> <!-- /.footer__unify-nav-desc -->
    </div> <!-- /.l-container -->

    <div class="footer__legal u-background-color--brown  can-be--dark-light">
      <div class="footer__legal__inner l-container u-spacing--quarter--until-large">
        <div class="footer__unify-copyright-address u-spacing--quarter--until-xlarge">
          <p class="footer__copyright u-font--secondary--xs u-color--brown-light u-padding--zero--bottom">{{ subfooter.text }}</p>
          <address class="footer__address u-font--secondary--xs u-color--brown-light" itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
            <span itemprop="streetAddress">{{ subfooter.address.address }}</span>,
            <span itemprop="addressPostCode"> {{ subfooter.address.postcode }}</span>
            <span itemprop="addressLocality"> {{ subfooter.address.locality }}</span>,
            <span itemprop="addressRegion"> {{ subfooter.address.region }}</span>
            {{ subfooter.address.country }}
          </address>
          <a itemprop="telephone" href="tel:{{ subfooter.address.phonenumber }}" class="footer__phone u-font--secondary--xs u-color--brown-light">{{ subfooter.address.phonenumber }}</a>
        </div> <!-- /.footer__unify-copyright-address -->
        {% include '@molecules/navigation/subfooter-navigation.twig' %}
      </div> <!-- /.l-container -->
    </div> <!-- /.legal -->
  </div> <!-- /.footer__inner -->
</footer> <!-- /.footer -->
