<footer class="footer" role="contentinfo">
  <div class="footer__inner u-clear-fix bg--medium-brown white can-be--dark-dark">
    <div class="layout-container">
      <div class="footer__unify-nav-desc spacing--until-large">
        {% include '@molecules/navigation/footer-navigation.twig' %}
        <div class="footer__desc">
          <span class="icon footer__logo">{% include '@atoms/icons/icon-logo.twig' with {'fill_class': 'fill--light-brown'} %}</span>
          <p class="footer__desc-text brown--light u-font--secondary">
            {{ footer.text }}
            {% for item in footer.links %}
              &bull; <a href="{{ item.url }}" class="link--white">{{ item.label }}</a>
            {% endfor %}
          </p>
        </div> <!-- /.footer_desc -->
      </div> <!-- /.footer__unify-nav-desc -->
    </div> <!-- /.layout-container -->

    <div class="footer__legal bg--brown  can-be--dark-light">
      <div class="footer__legal__inner layout-container spacing--quarter--until-large">
        <div class="footer__unify-copyright-address spacing--quarter--until-xlarge">
          <p class="footer__copyright u-font--secondary--xs brown--light no-space--btm">{{ subfooter.text }}</p>
          <address class="footer__address u-font--secondary--xs brown--light" itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
            <span itemprop="streetAddress">{{ subfooter.address.address }}</span>,
            <span itemprop="addressPostCode"> {{ subfooter.address.postcode }}</span>
            <span itemprop="addressLocality"> {{ subfooter.address.locality }}</span>,
            <span itemprop="addressRegion"> {{ subfooter.address.region }}</span>
            {{ subfooter.address.country }}
          </address>
          <a itemprop="telephone" href="tel:{{ subfooter.address.phonenumber }}" class="footer__phone u-font--secondary--xs brown--light">{{ subfooter.address.phonenumber }}</a>
        </div> <!-- /.footer__unify-copyright-address -->
        {% include '@molecules/navigation/subfooter-navigation.twig' %}
      </div> <!-- /.layout-container -->
    </div> <!-- /.legal -->
  </div> <!-- /.footer__inner -->
</footer> <!-- /.footer -->
