<footer class="footer" role="contentinfo">
  <div class="footer__inner cf bg--medium-brown white can-be--dark-dark">
    <div class="layout-container">
      <div class="footer__unify-nav-desc spacing--until-large">
        <nav class="footer__nav">
          <ul class="inline-list">
            <li class="footer__nav-item inline-list__item"><a href="{{ url }}" class="footer__nav-link font--secondary link--white">Facebook</a></li>
            <li class="footer__nav-item inline-list__item"><a href="{{ url }}" class="footer__nav-link font--secondary link--white">Twitter</a></li>
            <li class="footer__nav-item inline-list__item"><a href="{{ url }}" class="footer__nav-link font--secondary link--white">YouTube</a></li>
            <li class="footer__nav-item inline-list__item"><a href="{{ url }}" class="footer__nav-link font--secondary link--white">Vimeo</a></li>
            <li class="footer__nav-item inline-list__item"><a href="{{ url }}" class="footer__nav-link font--secondary link--white">Email</a></li>
            <li class="footer__nav-item inline-list__item"><a href="{{ url }}" class="footer__nav-link font--secondary link--white">Feedback</a></li>
          </ul>
        </nav> <!-- /.footer__nav -->
        <div class="footer__desc">
          <span class="icon footer__logo">{% include 'atoms-icon-logo' with {'fill_class': 'fill--light-brown'} %}</span>
          <p class="footer__desc-text brown--light font--secondary">Adventist.org is the Official website of the Seventh-day Adventist world church &bull; <a href="{{ url }}" class="link--white">View Regions</a></p>
        </div> <!-- /.footer_desc -->
      </div> <!-- /.footer__unify-nav-desc -->
    </div> <!-- /.layout-container -->

    <div class="footer__legal bg--brown  can-be--dark-light">
      <div class="footer__legal__inner layout-container spacing--quarter--until-large">
        <div class="footer__unify-copyright-address spacing--quarter--until-large">
          <p class="footer__copyright font--secondary--xs brown--light no-space--btm">Copyright &copy; 2016, General Conference of Seventh-day Adventists</p>
          <address class="footer__address font--secondary--xs brown--light">12501 Old Columbia Pike, Silver Spring, MD 20904, USA 301-680-6000</address>
        </div> <!-- /.footer__unify-copyright-address -->
        <div class="footer__legal-links font--secondary--xs"><a class="hover link--brown-light space-half--right" href="{{ url }}">Trademark and Logo Usage</a> <a class="hover link--brown-light" href="{{ url }}">Legal Notice</a></div>
      </div> <!-- /.layout-container -->
    </div> <!-- /.legal -->
  </div> <!-- /.footer__inner -->
</footer> <!-- /.footer -->
