{% if aside_nav %}
<nav class="bg--tan aside-nav pad--secondary column__secondary can-be--dark-dark" id="aside-nav" role="navigation">
  <div class="spacing">
    {% if category_nav %}
      <ul class="aside-nav__list spacing--quarter">
        {% for items in category_nav %}
          <li class="aside-nav__list-item rel"><a class="aside-nav__link theme--primary-text-color font--primary--xs" href="{{ url }}">{{ items.text }}</a></li>
        {% endfor %}
      </ul> <!-- /.aside-nav__list -->
    {% endif %}
    <hr class="theme--primary-transparent-background-color--30">
    {% if social_nav %}
      <ul class="aside-nav__list spacing--quarter">
        {% for items in social_nav %}
          <li class="aside-nav__list-item rel"><a class="aside-nav__link theme--primary-text-color font--primary--xs" href="{{ url }}"><span class="icon icon--s va--tbtm">{{ items.icon }}</span> {{ items.text }}</a></li>
        {% endfor %}
      </ul> <!-- /.aside-nav__list -->
    {% endif %}
  </div>
</nav> <!-- /.aside-nav -->
{% endif %}
