{% if aside_nav %}
<nav class="bg--tan aside-nav pad--secondary column__secondary can-be--dark-dark" id="aside-nav" role="navigation">
  <div class="spacing">
    {% if aside_nav.category_nav %}
      <ul class="aside-nav__list spacing--quarter">
        {% for item in aside_nav.category_nav.items %}
          <li class="aside-nav__list-item rel"><a class="aside-nav__link theme--primary-text-color u-font--primary--xs" href="{{ url }}">{{ item.text }}</a></li>
        {% endfor %}
      </ul> <!-- /.aside-nav__list -->
    {% endif %}
    <hr class="theme--primary-transparent-background-color--30">
    {% if aside_nav.social_nav %}
      <ul class="aside-nav__list spacing--quarter">
        {% for item in aside_nav.social_nav.items %}
          <li class="aside-nav__list-item rel"><a class="aside-nav__link theme--primary-text-color u-font--primary--xs" href="{{ url }}"><span class="icon icon--s u-vertical-align--text-bottom">{{ item.icon | raw }}</span> {{ item.text }}</a></li>
        {% endfor %}
      </ul> <!-- /.aside-nav__list -->
    {% endif %}
  </div>
</nav> <!-- /.aside-nav -->
{% endif %}
