{% if pager.totalpages > 1 %}
  <nav class="pagination {{ pagination_classes }} can-be--dark" role="navigation">
    {# 'first' and 'prev' #}
    {% if pager.current > 1 %}
      <a href="{{ pager.link }}{{ pager.current - 1 }}" class="pagination__page pagination__prev u-theme--color--darker">
        <span class="u-icon u-icon--m u-theme--path-fill--dark">{% include '@atoms/icons/icon-arrow-bracket-left.twig' %}</span>
      </a>
    {% endif %}
    {% if pager.current > (pager.surrounding + 1) %}
      <a href="{{ pager.link }}{{ 1 }}" class="pagination__page u-theme--color--darker">1</a>
    {% endif %}

    {# start with ellipsis if there are more than pager.surrounding+1 before currentpage.. #}
    {% if pager.current > (pager.surrounding + 2) %}
      <span class="pagination__divide">{{ pager.ellipsis|raw }}</span>
    {% endif %}

    {% for i in max(1, pager.current - pager.surrounding)..min(pager.current + pager.surrounding, pager.totalpages) %}
      {% if i == pager.current %}
        <span class="pagination__page pagination__page--current u-theme--color--base">{{ i }}</span>
      {% else %}
        <a href="{{ pager.link }}{{ i }}" rel="noindex, follow" class="pagination__page u-theme--color--darker">{{ i }}</a>
      {% endif %}
    {% endfor %}

    {# end with ellipsis if there are more than pager.surrounding+1 after currentpage.. #}
    {% if pager.current < (pager.totalpages - pager.surrounding - 1) %}
      <span class="pagination__divide">{{ pager.ellipsis|raw }}</span>
    {% endif %}

    {# 'next' and 'last' #}
    {% if pager.current < (pager.totalpages - pager.surrounding) %}
      <a href="{{ pager.link }}{{ pager.totalpages }}" rel="noindex, follow" class="pagination__page u-theme--color--darker">
        {{ pager.totalpages }}
      </a>
    {% endif %}
    {% if pager.current < pager.totalpages %}
      <a href="{{ pager.link }}{{ pager.current + 1 }}" class="pagination__page pagination__next u-theme--color--darker">
        <span class="u-icon u-icon--m u-theme--path-fill--dark">{% include '@atoms/icons/icon-arrow-bracket-right.twig' %}</span>
      </a>
    {% endif %}
  </nav>
{% endif %}
