{% if primary_nav %}
  <nav class="c-primary-nav c-priority-nav" role="navigation">
    <ul class="c-primary-nav__list c-priority-nav__list">
      {% for item in primary_nav.items %}
        <li class="c-primary-nav__list-item{% if item.subnav %}{{ ' has-subnav' }}{% endif %}">
          <a href="/" class="c-primary-nav__link u-font--primary-nav u-color--gray--dark u-theme--link-hover--base u-theme--border-color--base{% if item.is_active %}{{ ' this-is-active' }}{% endif %}{% if item.link_class %}{{ ' ' ~ item.link_class }}{% endif %}{% if item.priority == true %}{{ ' is-priority' }}{% endif %}">
            {{ item.text }}
          </a>
          {% if item.subnav %}
            <span class="c-primary-nav__arrow c-subnav__arrow o-arrow--down u-path-fill--gray"></span>
            <ul class="c-primary-nav__subnav c-subnav">
              {% for secondary_item in item.subnav.items %}
                <li class="c-primary-nav__subnav__list-item c-subnav__list-item u-background-color--gray--light u-theme--border-color--dark{% if secondary_item.subnav %}{{ ' has-subnav js-this' }}{% endif %}">
                  <a class="c-primary-nav__subnav__link c-subnav__link u-color--gray--dark u-theme--link-hover--base" href="{{ secondary_item.url }}">{{ secondary_item.text }}</a>
                  {% if secondary_item.subnav %}
                    <span class="c-primary-nav__subnav__arrow c-subnav__arrow o-arrow--down u-path-fill--gray js-toggle" data-toggled="this" data-prefix="this"></span>{% endif %}
                  {% if secondary_item.subnav %}
                    <ul class="c-primary-nav__subnav__subnav c-subnav">
                      {% for tertiary_item in secondary_item.subnav.items %}
                        <li class="c-primary-nav__subnav__subnav__list-item c-subnav__list-item u-theme--background-color--base">
                          <a class="c-primary-nav__subnav__subnav__link c-subnav__link u-color--gray--dark u-theme--link-hover--lighter" href="{{ tertiary_item.url }}">{{ tertiary_item.text }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                    <!-- /.c-primary-nav__subnav -->
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
            <!-- /.c-primary-nav__subnav -->
          {% endif %}
        </li>
      {% endfor %}
    </ul>
    <!-- /.c-primary-nav__list -->
  </nav>
  <!-- /.c-primary-nav -->
{% endif %}