{% if secondary_nav %}
  <nav class="c-secondary-nav" role="navigation">
    <ul class="c-secondary-nav__list">
      {% for item in secondary_nav.items %}
        <li class="c-secondary-nav__list-item{% if item.priority == true %}{{ ' is-priority' }}{% endif %}{% if item.subnav %}{{ ' has-subnav' }}{% endif %}">
          <a href="{{ item.url }}" class="c-secondary-nav__link u-font--secondary-nav u-color--gray u-theme--link-hover--base">
            {% if item.icon %}
              <span class="u-icon u-icon--xs u-path-fill--gray">{% include '@atoms/icons/' ~ item.icon ~ '.twig' %}</span>{% endif %}
            {{ item.text }}
          </a>
          {% if item.subnav %}
            <span class="c-subnav__arrow o-arrow--down"></span>
            <ul class="c-secondary-nav__subnav c-subnav">
              {% for sub_item in item.subnav.items %}
                <li class="c-secondary-nav__subnav__list-item c-subnav__list-item u-background-color--gray--light">
                  <a class="c-secondary-nav__subnav__link c-subnav__link u-color--gray u-theme--link-hover--base {% if sub_item.active_link %} active {% endif %}" href="{{ sub_item.url }}">{{ sub_item.text }}</a>
                </li>
              {% endfor %}
            </ul>
            <!-- /.c-subnav -->
          {% endif %}
        </li>
      {% endfor %}
      <li class="c-secondary-nav__list-item c-secondary-nav__list-item__search c-secondary-nav__list-item__toggle js-toggle-menu js-toggle-search is-priority">
        <a href="#" class="c-secondary-nav__link u-font--secondary-nav u-color--gray u-theme--link-hover--base">
          <span class="u-icon u-icon--xs u-path-fill--gray">{% include '@atoms/icons/icon-search.twig' %}</span>Search
        </a>
      </li>
      <li class="c-secondary-nav__list-item c-secondary-nav__list-item__menu c-secondary-nav__list-item__toggle js-toggle-menu is-priority">
        <a href="#" class="c-secondary-nav__link u-font--secondary-nav u-color--gray u-theme--link-hover--base">
          <span class="u-icon u-icon--xs u-path-fill--gray">{% include '@atoms/icons/icon-menu.twig' %}</span>Menu
        </a>
      </li>
    </ul>
    <!-- /.c-secondary-nav__list -->
  </nav>
  <!-- /.c-secondary-nav -->
{% endif %}
