{% if secondary_nav %}
<nav class="secondary-nav toggled-element" id="secondary-nav" role="navigation">
  <ul class="secondary-nav__list">
    {% for item in secondary_nav.items %}
      <li class="secondary-nav__list-item rel"><a class="secondary-nav__link theme--secondary-text-color {% if item.subnav %} js-toggle-parent {% endif %}" href="{{ item.url }}">
        {% if item.link_before %}<span class="secondary-nav__before-link">{{ item.link_before | raw }}</span>{% endif %}
        <strong>{{ item.text }}</strong> {% if item.subnav %}<span class="subnav__arrow dib arrow--down va--middle"></span>{% endif %}</a>
        {% if item.subnav %}
          <ul class="secondary-nav__subnav__list theme--secondary-background-color">
            {% for sub_item in item.subnav.items %}
              <li class="secondary-nav__subnav__list-item">
                <a class="secondary-nav__subnav__link theme--secondary-background-hover-color--at-medium {% if sub_item.active_link %} active {% endif %}" href="{{ sub_item.url }}">{% if sub_item.active_link %}<span class="icon icon--xs icon__check">{% include '@atoms/icons/icon-check.twig' %}</span>{% endif %} {{ sub_item.text }}</a>
              </li>
            {% endfor %}
          </ul> <!-- /.subnav -->
        {% endif %}
      </li>
    {% endfor %}
  </ul> <!-- /.secondary-nav__list -->
</nav> <!-- /.secondary-nav -->
{% endif %}
