{% if secondary_nav %}
<nav class="c-secondary-nav toggled-element" id="c-secondary-nav" role="navigation">
  <ul class="c-secondary-nav__list">
    {% for item in secondary_nav.items %}
      <li class="c-secondary-nav__list-item">
        <a href="{{ item.url }}" class="c-secondary-nav__link u-font--primary--s u-color--gray {% if item.subnav %}{{ 'js-toggle-parent' }}{% endif %}">
          {% if item.icon %}<span class="c-secondary-nav__icon u-icon u-icon--xs u-path-fill----gray">{{ item.icon | raw }}</span>{% endif %}
          {{ item.text }} {% if item.subnav %}<span class="c-subnav__arrow u-display--inline-block o-arrow--down"></span>{% endif %}
        </a>
        {% if item.subnav %}
          <ul class="c-secondary-nav__subnav__list">
            {% for sub_item in item.subnav.items %}
              <li class="c-secondary-nav__subnav__list-item">
                <a class="c-secondary-nav__subnav__link {% if sub_item.active_link %} active {% endif %}" href="{{ sub_item.url }}">{{ sub_item.text }}</a>
              </li>
            {% endfor %}
          </ul> <!-- /.subnav -->
        {% endif %}
      </li>
    {% endfor %}
  </ul> <!-- /.c-secondary-nav__list -->
</nav> <!-- /.c-secondary-nav -->
{% endif %}
