{% if content_block_default %}
  <div class="c-block__text u-theme--border-color--darker u-border--left {{ content_block_default.block_class }}">
    <a href="">
      <h3 class="c-block__title u-theme--color--darker {{ content_block_default.title_class }}"><strong>{{ content_block_default.title }}</strong></h3>
    </a>
    {% if content_block_default.description %}
      <p>{{ content_block_default.description }}</p>
    {% endif %}
    {% if content_block_default.category %}
      <span class="c-block__meta u-theme--color--dark u-font--secondary--xs">{{ content_block_default.category }}</span>
    {% endif %}
    {% if content_block_default.cta %}
      <a href="" class="o-button o-button--outline">{{ content_block_default.cta }}</a>
    {% endif %}
  </div>
{% endif %}
