{% if cta_block %}
  {% if cta_block.background_image or cta_block.picture %}
    {% if cta_block.background_image %}
      {% set block_class = "has-background-image o-background-image u-background--cover u-theme--gradient--bottom" %}
    {% elseif cta_block.picture and not cta_block.background_image %}
      {% set block_class = "has-image" %}
    {% endif %}
    <style type="text/css">
      .o-background-image {
        background-image: url({{ cta_block.picture.img.src_s|raw }});
      }
      @media(min-width: {{ cta_block.picture.img_break_m }}) {
        .o-background-image {
          background-image: url({{ cta_block.picture.img.src_m|raw }});
        }
      }
      {% if cta_block.picture.has_break_l.img_break_l %}
        @media(min-width: {{ cta_block.picture.has_break_l.img_break_l }}) {
          .o-background-image {
            background-image: url({{ cta_block.picture.has_break_l.img.src_l|raw }});
          }
        }
      {% endif %}
      {% if cta_block.picture.has_break_xl.img_break_xl %}
        @media(min-width: {{ cta_block.picture.has_break_xl.img_break_xl }}) {
          .o-background-image {
            background-image: url({{ cta_block.picture.has_break_xl.img.src_xl|raw }});
          }
        }
      {% endif %}
    </style>
  {% endif %}
  {% if cta_block.is_dark %}
    {% set theme_class = "u-theme--dark u-theme--background-color--darker" %}
  {% else %}
    {% set theme_class = "u-background-color--gray--light" %}
  {% endif %}
  <div class="c-cta-block c-block u-border--left u-theme--border-color--darker--left can-be--dark-dark{{ ' ' ~ block_class }}{{ ' ' ~ theme_class }}">
    <div class="c-cta-block__content c-block__content u-spacing">
      <div class="c-cta-block__group c-block__group u-spacing">
        {% if cta_block.title %}
          {% if cta_block.title and cta_block.description %}
            {% set block_title_class = "u-font--primary--l" %}
          {% else %}
            {% set block_title_class = "u-font--primary--xl" %}
          {% endif %}
          <h3 class="c-cta-block__title c-block__title u-theme--color--darker{{ ' ' ~ block_title_class }}">
            {{ cta_block.title|raw }}
          </h3>
        {% endif %}
        {% if cta_block.description %}
          {% if not cta_block.title %}
            {% set block_description_class = "u-font--secondary--m" %}
          {% endif %}
          <p class="c-cta-block__description c-block__description u-font--secondary{{ ' ' ~ block_description_class }}">{{ cta_block.description }}</p>
        {% endif %}
      </div>
      {% if cta_block.button_1 or cta_block.button_2 %}
        <div class="c-cta-block__buttons c-block__buttons">
          {% if cta_block.button_1 %}
            <a href="" class="c-block__button o-button o-button--outline">{{ cta_block.button_1.text }}
              <span class="u-icon u-icon--m u-path-fill--base u-space--half--left">{% include '@atoms/icons/icon-arrow-long-right.twig' %}</span></a>
          {% endif %}
          {% if cta_block.button_2 %}
            <a href="" class="c-block__button o-button o-button--simple">{{ cta_block.button_2.text }}</a>
          {% endif %}
        </div>
      {% endif %}
    </div><!-- c-cta-block__content -->
    {% if cta_block.picture and not cta_block.background_image %}
      <div class="c-cta-block__image c-block__image o-background-image u-background--cover"></div><!-- c-cta-block__image -->
    {% endif %}
  </div><!-- c-cta-block -->
{% endif %}