<div class="c-heading-block c-block u-padding {{ heading_block_default.block_class }}">
  <div class="c-heading-block__content c-block__content u-spacing {{ heading_block_default.block_content_class }}">
    <div class="c-heading-block__header c-block__header">
      {% if heading_block_default.kicker %}
        <h4 class="c-heading-block__kicker c-block__kicker o-kicker {{ heading_block_default.block_color_class }}">{{ heading_block_default.kicker }}</h4>
      {% endif %}
      {% if heading_block_default.title %}
        <h3 class="c-heading-block__title c-block__title {{ heading_block_default.block_title_class }}">
          <a href="{{ heading_block_default.url }}" class="c-block__title-link">{{ heading_block_default.title }}</a>
        </h3>
      {% endif %}
    </div>
    {% if heading_block_default.description %}
      <p class="c-heading-block__description c-block__description {{ heading_block_default.block_color_class }}">{{ heading_block_default.description }}</p>
    {% endif %}
    <div class="c-heading-block__meta c-block__meta {{ heading_block_default.block_color_class }}">
      {% if heading_block_default.category %}
        <span class="c-block__category u-text-transform--upper">{{ heading_block_default.category }}</span>
      {% endif %}
      {% if heading_block_default.date %}
        <time class="c-block__dat u-text-transform--upper" datetime="{{ heading_block_default.datetime }}">{{ heading_block_default.date }}</time>
      {% endif %}
    </div>
  </div> <!-- /.c-heading-block__content -->
</div> <!-- /.c-heading-block -->
