{% if heading_block_default %}
<div class="heading-block block {{ heading_block_default.block_class }}">
  <div class="u-padding">
    <h2 class="u-padding u-padding--zero--bottom heading-block__heading u-font--secondary--l u-theme--secondary-text-color">{{ heading_block_default.block_heading }}</h2>
    <div class="u-padding heading-block__content block__content {{ heading_block_default.block_content_class }}">
      <div class="u-spacing">
        <div class="text">
          <p class="heading-block__description block__description">{{ heading_block_default.description }}</p>
        </div>
        {% if heading_block_default.cta %}
          <p><a class="heading-block__cta block__cta o-btn u-theme--secondary-background-color" href="{{ heading_block_default.url }}">{{ heading_block_default.cta }}</a></p>
        {% endif %}
      </div> <!-- /.u-spacing -->
    </div> <!-- heading-block__content -->
  </div> <!-- /.u-padding-->
</div> <!-- /.heading-block -->
{% endif %}
