{% if media_block_default %}
  <div class="c-media-block c-block {{ media_block_default.block_class }}">
    {% if media_block_default.img or picture %}
      <div class="c-media-block__image c-block__image {{ media_block_default.block_img_class }}">
        <a class="c-block__image-link {{ media_block_default.block_img_class }}" href="{{ url }}">
          {% if picture %}
            {% include '@atoms/images/picture.twig' %}
          {% elseif media_block_default.img %}
            {% include '@atoms/images/image.twig' %}
          {% endif %}
        </a>
      </div>
    {% endif %}
    <div class="c-media-block__content c-block__content u-spacing {{ media_block_default.block_content_class }}">
      {% if media_block_default.kicker %}
        <h4 class="c-media-block__kicker c-block__kicker">{{ media_block_default.kicker }}</h4>
      {% endif %}
      {% if media_block_default.title %}
        <h3 class="c-media-block__title c-block__title {{ media_block_default.block_title_class }} {% if media_block_default.kicker %}{{ 'u-space--zero'}}{% endif %}">
          <a href="{{ media_block_default.url }}" class="c-block__title-link">{{ media_block_default.title }}</a>
        </h3>
      {% endif %}
      {% if media_block_default.description %}
        <p class="c-media-block__description c-block__description">{{ media_block_default.description }}</p>
      {% endif %}
      <div class="c-media-block__meta c-block__meta {{ media_block_default.block_meta_class }}">
        {% if media_block_default.category %}
          <span class="c-block__category u-text-transform--upper">{{ media_block_default.category }}</span>
        {% endif %}
        {% if media_block_default.date %}
          <time class="c-block__date u-text-transform--upper" datetime="{{ media_block_default.datetime }}">{{ media_block_default.date }}</time>
        {% endif %}
      </div>
    </div> <!-- c-media-block__content -->
  </div> <!-- media-block -->
{% endif %}
