<div class="spacing--double">
  <div class="pad--primary spacing text">
    <h2 class="u-font--tertiary--l theme--primary-text-color">{{ text.heading  | raw}}</h2>
    <p class="intro u-font--primary--m">{{ text.intro  | raw}}</p>
    {% include '@molecules/media/video-figure-with-caption.twig' with {'figure_class': 'size--large'} %}
  </div>

  <hr>
  {% for block in row_blocks %}
    <div class="pad--primary spacing--half">
      {% include '@molecules/blocks/media-block.twig' with block%}
    </div>
    <hr>
  {% endfor %}

  {% for block in content_blocks %}
    <div class="pad--primary spacing--half text">
      <h3 class="brown u-font--tertiary--l">{{ block.text.heading | raw}}</h3>
      <p>{{ block.text.description | raw }} {% if block.text.cta %} <a href="{{ block.url }}" class="u-font--secondary--s u-text-transform--upper"><strong>{{ block.text.cta | raw}}</strong></a> {% endif %}</p>
    </div>
    <hr>
  {% endfor %}

  <div class="spacing--zero">
    <hr>
    {% include '@organisms/sections/heading-block-list.twig' %}
  </div>

  {% include '@molecules/blocks/story-block.twig' %}

</div>
