<!DOCTYPE html>
<html class="{{ head.html_class }} no-js" lang="{{ head.language }}" {{ head.attr }}>

<head>
  <meta charset="{{ head.charset }}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="UTF-8">
  <title>{{ head.title }}</title>
  <meta name="description" content="{{ head.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i|Noto+Serif:400,400i,700,700i" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="/v3/css/dev.css?{{ cacheBuster }}" media="all">

  <script src="/v3/js/head-script.min.js?{{ cacheBuster }}" async></script>

  <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
  {{ patternLabHead|raw }}
  <!-- End Pattern Lab -->
  <link rel="icon" href="/v3/favicon.ico" />
</head>

<body class="{{ head.body_class }}">
